<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/css/bootstrap.css' />
  </head>
  <body>

    <div class="centered-title">
        <h1 class="display-3">
            <b>
                VT - TV
            </b>
        </h1>
    </div>

    <div class="container centered">
        <div class="row">
            <div class="col-sm-6">
                <div class="card card-block">
                    <h3 class="card-title">Login</h3>
                    <br>
                    <form>
                        <div class="form-group row ">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card card-block">
                    <h3 class="card-title">Register</h3>
                    <br>
                    <form>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputName" placeholder="First Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Confirm Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-fixed-bottom navbar-dark bg-inverse">
        <center>
            <span class="navbar-text text-muted">
              <b>THIS SITE IS CURRENTLY IN DEVELOPMENT</b>
            </span>
        </center>
    </nav>

  </body>
</html>
