
<link rel='stylesheet' href='/stylesheets/css/bootstrap.css' />

<div class="container-fluid">
    <div class="alert alert-danger">
        <center>
            <h1><%= message %></h1>
            <h2><%= error.status %></h2>
            <pre><%= error.stack %></pre>
        </center>
    </div>
</div>