<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/css/bootstrap.css' />
  </head>
  <body>


















    <nav class="navbar navbar-fixed-bottom navbar-dark bg-inverse">
      <center>
        <span class="navbar-text text-muted">
          <b>THIS SITE IS CURRENTLY IN DEVELOPMENT</b>
        </span>
      </center>
    </nav>

  </body>
</html>
